extends layout

block content
  h2 Welcome to #{base_url}
  if is_auth
    h3 You are #{email}
    form(action="/logout", method="post")
      input(type="hidden", name="_csrf", value=token)
      button(type="submit") Logout
  else
    a(href="/login") Login
